.snake {
    width: 100%;
    height: 100%;
    min-width: 1vw;
    background-color: var(--snake-color);
    border: clamp(0.063rem, 0.018rem + 0.223vw, 0.125rem) dotted var(--snake-border-color);
    border-radius: 30%;

    transition: background-color ease-in-out 0.2s;
}

.snake-head {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    width: 100%;
    height: 100%;

    transform-origin: center;
}

.eye {
    background-color: var(--main-accent-color);
    grid-row: 2 / 4;
    width: 70%;
}

.eye-left {
    grid-column: 2;
    border-radius: 70% 30% 15% 15%;
    margin-right: auto;
}

.eye-right {
    grid-column: 4;
    border-radius: 30% 70% 15% 15%;
    margin-left: auto;
}

.tongue {
    position: relative;

    background-color: var(--main-accent-color);
    grid-row: 1;
    grid-column: 3;
    transform: translate(0, -100%);

    &::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
        background-color: inherit;
        animation: tongue 0.1s ease-in infinite;
    }
}

@keyframes tongue {
    100% {transform: translate(0, 0);}
    50% {transform: translate(0, -100%);}
}

@keyframes move-up {
    0% {transform: translate(0%, 100%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes move-down {
    0% {transform: translate(0%, -100%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes move-right {
    0% {transform: translate(-100%, 0%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes move-left {
    0% {transform: translate(100%, 0%);}
    100% {transform: translate(0%, 0%);}
}