:root {
    --main-bg-color: hsl(64, 46%, 86%);
    --main-accent-color: hsl(14, 45%, 64%);

    --snake-color: hsl(118, 36%, 82%);
    --snake-border-color: #88AB8E;

    --food-color: hsl(47, 49%, 72%);
    --food-border-color: #C6A969;
}